n8n/en_uso/BOT_JOB_QUEUE.json
{
  "updatedAt": "2026-03-09T13:27:04.642Z",
  "createdAt": "2026-03-07T17:38:22.058Z",
  "id": "eW5SRNY5r4zfRjIqTw9eP",
  "name": "BOT_JOB_QUEUE",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bot-job-enqueue",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "8c5e6d62-cf2d-4c65-9db1-8a90d9a50001",
      "name": "Enqueue Job Webhook",
      "webhookId": "bot-job-enqueue-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nconst headers = $json.headers ?? {};\nconst authHeader = headers.authorization || headers.Authorization || '';\nconst bearerSecret = authHeader.startsWith('Bearer ') ? authHeader.slice(7) : '';\nconst providedSecret = body.secret || bearerSecret || '';\nconst expectedSecret = '';\nif (expectedSecret && providedSecret !== expectedSecret) {\n  return [{ json: { success: false, error: 'unauthorized' } }];\n}\n\nconst baseUrl = 'https://n8n-dev.noyecode.com';\nconst projectId = 'bkrM241Q8UeW2zme';\nconst tableId = 'LFM69EeeF7pa8yiO';\nconst browserId = 'bot-job-enqueue';\nconst loginPayload = {\n  emailOrLdapLoginId: 'andersonbarbosadev@outlook.com',\n  password: 't5x]oIs{7=ISZ}sS',\n};\n\nconst action = String(body.action || 'run_full_cycle').trim() || 'run_full_cycle';\nconst payload = body.payload && typeof body.payload === 'object' ? body.payload : {};\nconst source = String(body.source || 'telegram').trim() || 'telegram';\nconst nowIso = new Date().toISOString();\nconst jobId = `job_${Date.now()}_${Math.random().toString(36).slice(2, 8)}`;\n\nconst normalizeCookies = (rawCookieHeader) => {\n  if (!rawCookieHeader) return [];\n  if (Array.isArray(rawCookieHeader)) return rawCookieHeader.map((item) => String(item).split(';')[0]).filter(Boolean);\n  return String(rawCookieHeader).split(',').map((item) => item.split(';')[0].trim()).filter(Boolean);\n};\n\ntry {\n  const request = this.helpers.request;\n  const loginResponse = await request({\n    method: 'POST',\n    uri: `${baseUrl}/rest/login`,\n    body: loginPayload,\n    json: true,\n    resolveWithFullResponse: true,\n    simple: false,\n    headers: {\n      Accept: 'application/json',\n      'browser-id': browserId,\n      'User-Agent': 'n8n-bot-job-queue/1.0',\n    },\n  });\n\n  const cookies = normalizeCookies(loginResponse?.headers?.['set-cookie']);\n  if (!cookies.length) {\n    return [{ json: { success: false, error: 'login_cookie_missing' } }];\n  }\n\n  const inserted = await request({\n    method: 'POST',\n    uri: `${baseUrl}/rest/projects/${projectId}/data-tables/${tableId}/insert`,\n    body: {\n      returnType: 'all',\n      data: [\n        {\n          job_id: jobId,\n          action,\n          payload_json: JSON.stringify(payload),\n          source,\n          status: 'pending',\n          created_at: nowIso,\n          updated_at: nowIso,\n          worker_id: '',\n          attempts: 0,\n          lease_expires_at: '',\n          result_json: '',\n          error_text: '',\n        },\n      ],\n    },\n    json: true,\n    resolveWithFullResponse: true,\n    simple: false,\n    headers: {\n      Accept: 'application/json',\n      Cookie: cookies.join('; '),\n      'browser-id': browserId,\n      'User-Agent': 'n8n-bot-job-queue/1.0',\n    },\n  });\n\n  const row = Array.isArray(inserted?.body?.data) ? inserted.body.data[0] : inserted?.body?.data?.[0] || {};\n  return [{\n    json: {\n      success: true,\n      enqueued: true,\n      job: {\n        id: jobId,\n        row_id: row?.id ?? null,\n        action,\n        payload,\n        source,\n        status: 'pending',\n        createdAt: nowIso,\n        updatedAt: nowIso,\n      },\n      activeJobs: null,\n    },\n  }];\n} catch (error) {\n  return [{ json: { success: false, error: String(error?.message || error) } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        0
      ],
      "id": "8c5e6d62-cf2d-4c65-9db1-8a90d9a50002",
      "name": "Enqueue Job"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        528,
        0
      ],
      "id": "8c5e6d62-cf2d-4c65-9db1-8a90d9a50003",
      "name": "Respond Enqueue"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bot-job-next",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        224
      ],
      "id": "8c5e6d62-cf2d-4c65-9db1-8a90d9a50004",
      "name": "Next Job Webhook",
      "webhookId": "bot-job-next-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nconst headers = $json.headers ?? {};\nconst authHeader = headers.authorization || headers.Authorization || '';\nconst bearerSecret = authHeader.startsWith('Bearer ') ? authHeader.slice(7) : '';\nconst providedSecret = body.secret || bearerSecret || '';\nconst expectedSecret = $env.N8N_BOT_SECRET || '';\nif (expectedSecret && providedSecret !== expectedSecret) {\n  return [{ json: { success: false, error: 'unauthorized' } }];\n}\n\nconst workerId = body.worker_id || body.workerId || 'worker-local';\nconst leaseMinutes = Number(body.lease_minutes || body.leaseMinutes || 5);\nconst now = Date.now();\nconst nowIso = new Date(now).toISOString();\nconst state = $getWorkflowStaticData('global');\nstate.jobs = Array.isArray(state.jobs) ? state.jobs : [];\n\nfor (const item of state.jobs) {\n  if (item.status === 'dispatched' && item.leaseExpiresAt) {\n    const expiresAt = Date.parse(item.leaseExpiresAt);\n    if (!Number.isNaN(expiresAt) && expiresAt < now) {\n      item.status = 'pending';\n      item.workerId = null;\n      item.leaseExpiresAt = null;\n      item.updatedAt = nowIso;\n    }\n  }\n}\n\nconst job = state.jobs.find((item) => item.status === 'pending');\nif (!job) {\n  return [{ json: { success: true, found: false } }];\n}\n\njob.status = 'dispatched';\njob.workerId = workerId;\njob.attempts = Number(job.attempts || 0) + 1;\njob.updatedAt = nowIso;\njob.leaseExpiresAt = new Date(now + leaseMinutes * 60 * 1000).toISOString();\n\nreturn [{ json: { success: true, found: true, job } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        224
      ],
      "id": "8c5e6d62-cf2d-4c65-9db1-8a90d9a50005",
      "name": "Get Next Job"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        528,
        224
      ],
      "id": "8c5e6d62-cf2d-4c65-9db1-8a90d9a50006",
      "name": "Respond Next"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bot-job-update",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        448
      ],
      "id": "8c5e6d62-cf2d-4c65-9db1-8a90d9a50007",
      "name": "Update Job Webhook",
      "webhookId": "bot-job-update-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nconst headers = $json.headers ?? {};\nconst authHeader = headers.authorization || headers.Authorization || '';\nconst bearerSecret = authHeader.startsWith('Bearer ') ? authHeader.slice(7) : '';\nconst providedSecret = body.secret || bearerSecret || '';\nconst expectedSecret = $env.N8N_BOT_SECRET || '';\nif (expectedSecret && providedSecret !== expectedSecret) {\n  return [{ json: { success: false, error: 'unauthorized' } }];\n}\n\nconst jobId = body.job_id || body.jobId || body.id;\nconst status = body.status || 'unknown';\nconst workerId = body.worker_id || body.workerId || null;\nconst state = $getWorkflowStaticData('global');\nstate.jobs = Array.isArray(state.jobs) ? state.jobs : [];\n\nconst job = state.jobs.find((item) => item.id === jobId);\nif (!job) {\n  return [{ json: { success: false, error: 'job_not_found', jobId } }];\n}\n\njob.status = status;\njob.workerId = workerId || job.workerId || null;\njob.updatedAt = new Date().toISOString();\njob.result = body.result ?? job.result ?? null;\njob.error = body.error ?? null;\nif (['success', 'error', 'cancelled'].includes(status)) {\n  job.leaseExpiresAt = null;\n}\n\nreturn [{ json: { success: true, updated: true, job } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        448
      ],
      "id": "8c5e6d62-cf2d-4c65-9db1-8a90d9a50008",
      "name": "Update Job"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        528,
        448
      ],
      "id": "8c5e6d62-cf2d-4c65-9db1-8a90d9a50009",
      "name": "Respond Update"
    }
  ],
  "connections": {
    "Enqueue Job Webhook": {
      "main": [
        [
          {
            "node": "Enqueue Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enqueue Job": {
      "main": [
        [
          {
            "node": "Respond Enqueue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Next Job Webhook": {
      "main": [
        [
          {
            "node": "Get Next Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Next Job": {
      "main": [
        [
          {
            "node": "Respond Next",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Job Webhook": {
      "main": [
        [
          {
            "node": "Update Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Job": {
      "main": [
        [
          {
            "node": "Respond Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "026f1d1b-51a5-4f7a-bf2d-ff8bb015db64",
  "activeVersionId": "026f1d1b-51a5-4f7a-bf2d-ff8bb015db64",
  "versionCounter": 30,
  "triggerCount": 3,
  "shared": [
    {
      "updatedAt": "2026-03-07T17:38:22.058Z",
      "createdAt": "2026-03-07T17:38:22.058Z",
      "role": "workflow:owner",
      "workflowId": "eW5SRNY5r4zfRjIqTw9eP",
      "projectId": "bkrM241Q8UeW2zme",
      "project": {
        "updatedAt": "2025-12-16T17:56:12.161Z",
        "createdAt": "2025-12-16T17:50:13.083Z",
        "id": "bkrM241Q8UeW2zme",
        "name": "Anderson Barbosa <andersonbarbosadev@outlook.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "6e404d63-0747-43e9-ac7f-cf0e72e9cb99",
        "projectRelations": [
          {
            "updatedAt": "2025-12-16T17:50:13.083Z",
            "createdAt": "2025-12-16T17:50:13.083Z",
            "userId": "6e404d63-0747-43e9-ac7f-cf0e72e9cb99",
            "projectId": "bkrM241Q8UeW2zme",
            "user": {
              "updatedAt": "2026-03-09T11:06:31.647Z",
              "createdAt": "2025-12-16T17:50:09.786Z",
              "id": "6e404d63-0747-43e9-ac7f-cf0e72e9cb99",
              "email": "andersonbarbosadev@outlook.com",
              "firstName": "Anderson",
              "lastName": "Barbosa",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-31T08:56:04.592Z",
                "personalization_survey_n8n_version": "2.1.4",
                "automationGoalDevops": [
                  "monitoring-alerting",
                  "reporting",
                  "cloud-infrastructure-orchestration"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "eW5SRNY5r4zfRjIqTw9eP",
                "userActivatedAt": 1772907500504,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 2,
                  "lastShownAt": 1772831871686
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-09",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "parentFolder": null,
  "activeVersion": {
    "updatedAt": "2026-03-09T13:27:04.646Z",
    "createdAt": "2026-03-09T13:27:04.646Z",
    "versionId": "026f1d1b-51a5-4f7a-bf2d-ff8bb015db64",
    "workflowId": "eW5SRNY5r4zfRjIqTw9eP",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "bot-job-enqueue",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "id": "8c5e6d62-cf2d-4c65-9db1-8a90d9a50001",
        "name": "Enqueue Job Webhook",
        "webhookId": "bot-job-enqueue-webhook"
      },
      {
        "parameters": {
          "jsCode": "const body = $json.body ?? $json;\nconst headers = $json.headers ?? {};\nconst authHeader = headers.authorization || headers.Authorization || '';\nconst bearerSecret = authHeader.startsWith('Bearer ') ? authHeader.slice(7) : '';\nconst providedSecret = body.secret || bearerSecret || '';\nconst expectedSecret = '';\nif (expectedSecret && providedSecret !== expectedSecret) {\n  return [{ json: { success: false, error: 'unauthorized' } }];\n}\n\nconst baseUrl = 'https://n8n-dev.noyecode.com';\nconst projectId = 'bkrM241Q8UeW2zme';\nconst tableId = 'LFM69EeeF7pa8yiO';\nconst browserId = 'bot-job-enqueue';\nconst loginPayload = {\n  emailOrLdapLoginId: 'andersonbarbosadev@outlook.com',\n  password: 't5x]oIs{7=ISZ}sS',\n};\n\nconst action = String(body.action || 'run_full_cycle').trim() || 'run_full_cycle';\nconst payload = body.payload && typeof body.payload === 'object' ? body.payload : {};\nconst source = String(body.source || 'telegram').trim() || 'telegram';\nconst nowIso = new Date().toISOString();\nconst jobId = `job_${Date.now()}_${Math.random().toString(36).slice(2, 8)}`;\n\nconst normalizeCookies = (rawCookieHeader) => {\n  if (!rawCookieHeader) return [];\n  if (Array.isArray(rawCookieHeader)) return rawCookieHeader.map((item) => String(item).split(';')[0]).filter(Boolean);\n  return String(rawCookieHeader).split(',').map((item) => item.split(';')[0].trim()).filter(Boolean);\n};\n\ntry {\n  const request = this.helpers.request;\n  const loginResponse = await request({\n    method: 'POST',\n    uri: `${baseUrl}/rest/login`,\n    body: loginPayload,\n    json: true,\n    resolveWithFullResponse: true,\n    simple: false,\n    headers: {\n      Accept: 'application/json',\n      'browser-id': browserId,\n      'User-Agent': 'n8n-bot-job-queue/1.0',\n    },\n  });\n\n  const cookies = normalizeCookies(loginResponse?.headers?.['set-cookie']);\n  if (!cookies.length) {\n    return [{ json: { success: false, error: 'login_cookie_missing' } }];\n  }\n\n  const inserted = await request({\n    method: 'POST',\n    uri: `${baseUrl}/rest/projects/${projectId}/data-tables/${tableId}/insert`,\n    body: {\n      returnType: 'all',\n      data: [\n        {\n          job_id: jobId,\n          action,\n          payload_json: JSON.stringify(payload),\n          source,\n          status: 'pending',\n          created_at: nowIso,\n          updated_at: nowIso,\n          worker_id: '',\n          attempts: 0,\n          lease_expires_at: '',\n          result_json: '',\n          error_text: '',\n        },\n      ],\n    },\n    json: true,\n    resolveWithFullResponse: true,\n    simple: false,\n    headers: {\n      Accept: 'application/json',\n      Cookie: cookies.join('; '),\n      'browser-id': browserId,\n      'User-Agent': 'n8n-bot-job-queue/1.0',\n    },\n  });\n\n  const row = Array.isArray(inserted?.body?.data) ? inserted.body.data[0] : inserted?.body?.data?.[0] || {};\n  return [{\n    json: {\n      success: true,\n      enqueued: true,\n      job: {\n        id: jobId,\n        row_id: row?.id ?? null,\n        action,\n        payload,\n        source,\n        status: 'pending',\n        createdAt: nowIso,\n        updatedAt: nowIso,\n      },\n      activeJobs: null,\n    },\n  }];\n} catch (error) {\n  return [{ json: { success: false, error: String(error?.message || error) } }];\n}"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          256,
          0
        ],
        "id": "8c5e6d62-cf2d-4c65-9db1-8a90d9a50002",
        "name": "Enqueue Job"
      },
      {
        "parameters": {
          "options": {
            "responseCode": 200,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          528,
          0
        ],
        "id": "8c5e6d62-cf2d-4c65-9db1-8a90d9a50003",
        "name": "Respond Enqueue"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "bot-job-next",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          224
        ],
        "id": "8c5e6d62-cf2d-4c65-9db1-8a90d9a50004",
        "name": "Next Job Webhook",
        "webhookId": "bot-job-next-webhook"
      },
      {
        "parameters": {
          "jsCode": "const body = $json.body ?? $json;\nconst headers = $json.headers ?? {};\nconst authHeader = headers.authorization || headers.Authorization || '';\nconst bearerSecret = authHeader.startsWith('Bearer ') ? authHeader.slice(7) : '';\nconst providedSecret = body.secret || bearerSecret || '';\nconst expectedSecret = $env.N8N_BOT_SECRET || '';\nif (expectedSecret && providedSecret !== expectedSecret) {\n  return [{ json: { success: false, error: 'unauthorized' } }];\n}\n\nconst workerId = body.worker_id || body.workerId || 'worker-local';\nconst leaseMinutes = Number(body.lease_minutes || body.leaseMinutes || 5);\nconst now = Date.now();\nconst nowIso = new Date(now).toISOString();\nconst state = $getWorkflowStaticData('global');\nstate.jobs = Array.isArray(state.jobs) ? state.jobs : [];\n\nfor (const item of state.jobs) {\n  if (item.status === 'dispatched' && item.leaseExpiresAt) {\n    const expiresAt = Date.parse(item.leaseExpiresAt);\n    if (!Number.isNaN(expiresAt) && expiresAt < now) {\n      item.status = 'pending';\n      item.workerId = null;\n      item.leaseExpiresAt = null;\n      item.updatedAt = nowIso;\n    }\n  }\n}\n\nconst job = state.jobs.find((item) => item.status === 'pending');\nif (!job) {\n  return [{ json: { success: true, found: false } }];\n}\n\njob.status = 'dispatched';\njob.workerId = workerId;\njob.attempts = Number(job.attempts || 0) + 1;\njob.updatedAt = nowIso;\njob.leaseExpiresAt = new Date(now + leaseMinutes * 60 * 1000).toISOString();\n\nreturn [{ json: { success: true, found: true, job } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          256,
          224
        ],
        "id": "8c5e6d62-cf2d-4c65-9db1-8a90d9a50005",
        "name": "Get Next Job"
      },
      {
        "parameters": {
          "options": {
            "responseCode": 200,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          528,
          224
        ],
        "id": "8c5e6d62-cf2d-4c65-9db1-8a90d9a50006",
        "name": "Respond Next"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "bot-job-update",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          448
        ],
        "id": "8c5e6d62-cf2d-4c65-9db1-8a90d9a50007",
        "name": "Update Job Webhook",
        "webhookId": "bot-job-update-webhook"
      },
      {
        "parameters": {
          "jsCode": "const body = $json.body ?? $json;\nconst headers = $json.headers ?? {};\nconst authHeader = headers.authorization || headers.Authorization || '';\nconst bearerSecret = authHeader.startsWith('Bearer ') ? authHeader.slice(7) : '';\nconst providedSecret = body.secret || bearerSecret || '';\nconst expectedSecret = $env.N8N_BOT_SECRET || '';\nif (expectedSecret && providedSecret !== expectedSecret) {\n  return [{ json: { success: false, error: 'unauthorized' } }];\n}\n\nconst jobId = body.job_id || body.jobId || body.id;\nconst status = body.status || 'unknown';\nconst workerId = body.worker_id || body.workerId || null;\nconst state = $getWorkflowStaticData('global');\nstate.jobs = Array.isArray(state.jobs) ? state.jobs : [];\n\nconst job = state.jobs.find((item) => item.id === jobId);\nif (!job) {\n  return [{ json: { success: false, error: 'job_not_found', jobId } }];\n}\n\njob.status = status;\njob.workerId = workerId || job.workerId || null;\njob.updatedAt = new Date().toISOString();\njob.result = body.result ?? job.result ?? null;\njob.error = body.error ?? null;\nif (['success', 'error', 'cancelled'].includes(status)) {\n  job.leaseExpiresAt = null;\n}\n\nreturn [{ json: { success: true, updated: true, job } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          256,
          448
        ],
        "id": "8c5e6d62-cf2d-4c65-9db1-8a90d9a50008",
        "name": "Update Job"
      },
      {
        "parameters": {
          "options": {
            "responseCode": 200,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          528,
          448
        ],
        "id": "8c5e6d62-cf2d-4c65-9db1-8a90d9a50009",
        "name": "Respond Update"
      }
    ],
    "connections": {
      "Enqueue Job Webhook": {
        "main": [
          [
            {
              "node": "Enqueue Job",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enqueue Job": {
        "main": [
          [
            {
              "node": "Respond Enqueue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Next Job Webhook": {
        "main": [
          [
            {
              "node": "Get Next Job",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Next Job": {
        "main": [
          [
            {
              "node": "Respond Next",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Job Webhook": {
        "main": [
          [
            {
              "node": "Update Job",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Job": {
        "main": [
          [
            {
              "node": "Respond Update",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Anderson Barbosa",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-09T13:27:05.142Z",
        "id": 508,
        "workflowId": "eW5SRNY5r4zfRjIqTw9eP",
        "versionId": "026f1d1b-51a5-4f7a-bf2d-ff8bb015db64",
        "event": "activated",
        "userId": "6e404d63-0747-43e9-ac7f-cf0e72e9cb99"
      }
    ]
  },
  "scopes": [
    "workflow:create",
    "workflow:delete",
    "workflow:execute",
    "workflow:execute-chat",
    "workflow:list",
    "workflow:move",
    "workflow:publish",
    "workflow:read",
    "workflow:share",
    "workflow:update"
  ],
  "checksum": "34c9c2c8f2f81cbaab5f9a3867ed5c77fd78e17bf75ca4701d3cc323f0f42f50"
}
