n8n/en_uso/CHAT_IMGS.json
{
  "updatedAt": "2026-03-09T13:54:13.335Z",
  "createdAt": "2026-03-06T19:44:22.72Z",
  "id": "5zKqthFIw2-FhYBIkCKnu",
  "name": "CHAT_IMGS",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "multipleMethods": false,
        "httpMethod": "POST",
        "path": "telegram-chat-imgs",
        "authentication": "none",
        "responseMode": "onReceived",
        "contentTypeNotice": "",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "745d515e-3904-466b-b342-35ea63e433f3",
      "name": "Telegram Webhook",
      "webhookId": "a2d8d529-b424-461e-aab4-f20c54254106"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? {};\nconst message = body.message || body.edited_message || body.channel_post || {};\nconst rawText = (message.text || message.caption || '').trim();\nconst normalizedText = rawText.toLowerCase();\nconst chatId = message.chat?.id || null;\nconst commandPatterns = [\n  /^\\/publicar(?:\\s+(.+))?$/i,\n  /^publicar(?:\\s+(.+))?$/i,\n  /^\\/runbot(?:\\s+(.+))?$/i,\n  /^runbot(?:\\s+(.+))?$/i,\n  /^\\/run_full_cycle(?:\\s+(.+))?$/i,\n  /^run_full_cycle(?:\\s+(.+))?$/i\n];\nlet isBotCommand = false;\nlet extraIdea = '';\nfor (const pattern of commandPatterns) {\n  const match = rawText.match(pattern);\n  if (match) {\n    isBotCommand = true;\n    extraIdea = (match[1] || '').trim();\n    break;\n  }\n}\nreturn [{\n  json: {\n    chatId,\n    messageText: rawText,\n    normalizedText,\n    isBotCommand,\n    action: 'run_full_cycle',\n    payload: extraIdea ? { idea: extraIdea } : {},\n    source: 'telegram'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "b1d1201c-2f92-4dd0-bb4c-001010101001",
      "name": "Process Telegram Message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "condition-bot-command",
              "leftValue": "={{ $json.isBotCommand }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        432,
        0
      ],
      "id": "b1d1201c-2f92-4dd0-bb4c-001010101002",
      "name": "Is Bot Command?"
    },
    {
      "parameters": {
        "aiAgentStarterCallout": "",
        "promptType": "define",
        "text": "={{ $json.messageText || \"\" }}",
        "hasOutputParser": false,
        "needsFallback": false,
        "options": {
          "systemMessage": "Eres un generador experto de prompts para imagen. Responde siempre con un unico prompt final, completo y listo para usar. No agregues saludos, explicaciones, listas, titulos, markdown, ni prefijos como \"Prompt:\". Devuelve solo el texto del prompt en una sola respuesta."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        160
      ],
      "id": "da5bb958-c8cc-4155-8fab-075020c4896c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "notice": "",
        "model": "=llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        544,
        368
      ],
      "id": "02a18caf-8238-442b-af48-8f1285e194dd",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "ujxI8q61jPeRlWaT",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "curlImport": "",
        "method": "POST",
        "url": "https://api.telegram.org/bot8330436500:AAFn_2kMLSjqR-V_zQg2BacWRWx7ULOiNuw/sendMessage",
        "authentication": "none",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": {{ $json.chatId || $(\"Process Telegram Message\").item.json.chatId }}, \"text\": {{ JSON.stringify($json.replyText || $json.output || \"Sin respuesta\") }}}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1408,
        160
      ],
      "id": "d0c7692d-822c-4365-8dd1-d96c74bfd22d",
      "name": "Send Telegram Reply"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n-dev.noyecode.com/webhook/bot-job-enqueue",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ action: $json.action, payload: $json.payload, source: $json.source, chatId: $json.chatId, secret: $env.N8N_BOT_SECRET || '' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        688,
        -160
      ],
      "id": "b1d1201c-2f92-4dd0-bb4c-001010101003",
      "name": "Enqueue Bot Job"
    },
    {
      "parameters": {
        "jsCode": "const base = $('Process Telegram Message').item.json;\nconst idea = base.payload?.idea ? `\\nIdea: ${base.payload.idea}` : '';\nreturn [{ json: { replyText: `Listo. Solicitud recibida. El worker local la tomara en breve.${idea}`, chatId: base.chatId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -160
      ],
      "id": "b1d1201c-2f92-4dd0-bb4c-001010101004",
      "name": "Build Queue Reply"
    }
  ],
  "connections": {
    "Telegram Webhook": {
      "main": [
        [
          {
            "node": "Process Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Telegram Message": {
      "main": [
        [
          {
            "node": "Is Bot Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Bot Command?": {
      "main": [
        [
          {
            "node": "Build Queue Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enqueue Bot Job": {
      "main": [
        [
          {
            "node": "Build Queue Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Queue Reply": {
      "main": [
        [
          {
            "node": "Send Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0f851856-0870-4ff0-b916-876419c8ef10",
  "activeVersionId": "0f851856-0870-4ff0-b916-876419c8ef10",
  "versionCounter": 40,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-06T19:44:22.72Z",
      "createdAt": "2026-03-06T19:44:22.72Z",
      "role": "workflow:owner",
      "workflowId": "5zKqthFIw2-FhYBIkCKnu",
      "projectId": "bkrM241Q8UeW2zme",
      "project": {
        "updatedAt": "2025-12-16T17:56:12.161Z",
        "createdAt": "2025-12-16T17:50:13.083Z",
        "id": "bkrM241Q8UeW2zme",
        "name": "Anderson Barbosa <andersonbarbosadev@outlook.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "6e404d63-0747-43e9-ac7f-cf0e72e9cb99",
        "projectRelations": [
          {
            "updatedAt": "2025-12-16T17:50:13.083Z",
            "createdAt": "2025-12-16T17:50:13.083Z",
            "userId": "6e404d63-0747-43e9-ac7f-cf0e72e9cb99",
            "projectId": "bkrM241Q8UeW2zme",
            "user": {
              "updatedAt": "2026-03-09T11:06:31.647Z",
              "createdAt": "2025-12-16T17:50:09.786Z",
              "id": "6e404d63-0747-43e9-ac7f-cf0e72e9cb99",
              "email": "andersonbarbosadev@outlook.com",
              "firstName": "Anderson",
              "lastName": "Barbosa",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-31T08:56:04.592Z",
                "personalization_survey_n8n_version": "2.1.4",
                "automationGoalDevops": [
                  "monitoring-alerting",
                  "reporting",
                  "cloud-infrastructure-orchestration"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "eW5SRNY5r4zfRjIqTw9eP",
                "userActivatedAt": 1772907500504,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 2,
                  "lastShownAt": 1772831871686
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-09",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "parentFolder": {
    "updatedAt": "2026-02-04T15:34:18.981Z",
    "createdAt": "2026-02-04T15:34:18.981Z",
    "id": "PpHvIJ31zEwJyuGb",
    "name": "BOTS-redes-noyecode.com",
    "parentFolderId": null
  },
  "activeVersion": {
    "updatedAt": "2026-03-09T13:54:13.338Z",
    "createdAt": "2026-03-09T13:54:13.338Z",
    "versionId": "0f851856-0870-4ff0-b916-876419c8ef10",
    "workflowId": "5zKqthFIw2-FhYBIkCKnu",
    "nodes": [
      {
        "parameters": {
          "multipleMethods": false,
          "httpMethod": "POST",
          "path": "telegram-chat-imgs",
          "authentication": "none",
          "responseMode": "onReceived",
          "contentTypeNotice": "",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "id": "745d515e-3904-466b-b342-35ea63e433f3",
        "name": "Telegram Webhook",
        "webhookId": "a2d8d529-b424-461e-aab4-f20c54254106"
      },
      {
        "parameters": {
          "jsCode": "const body = $json.body ?? {};\nconst message = body.message || body.edited_message || body.channel_post || {};\nconst rawText = (message.text || message.caption || '').trim();\nconst normalizedText = rawText.toLowerCase();\nconst chatId = message.chat?.id || null;\nconst commandPatterns = [\n  /^\\/publicar(?:\\s+(.+))?$/i,\n  /^publicar(?:\\s+(.+))?$/i,\n  /^\\/runbot(?:\\s+(.+))?$/i,\n  /^runbot(?:\\s+(.+))?$/i,\n  /^\\/run_full_cycle(?:\\s+(.+))?$/i,\n  /^run_full_cycle(?:\\s+(.+))?$/i\n];\nlet isBotCommand = false;\nlet extraIdea = '';\nfor (const pattern of commandPatterns) {\n  const match = rawText.match(pattern);\n  if (match) {\n    isBotCommand = true;\n    extraIdea = (match[1] || '').trim();\n    break;\n  }\n}\nreturn [{\n  json: {\n    chatId,\n    messageText: rawText,\n    normalizedText,\n    isBotCommand,\n    action: 'run_full_cycle',\n    payload: extraIdea ? { idea: extraIdea } : {},\n    source: 'telegram'\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          208,
          0
        ],
        "id": "b1d1201c-2f92-4dd0-bb4c-001010101001",
        "name": "Process Telegram Message"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": ""
            },
            "conditions": [
              {
                "id": "condition-bot-command",
                "leftValue": "={{ $json.isBotCommand }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          432,
          0
        ],
        "id": "b1d1201c-2f92-4dd0-bb4c-001010101002",
        "name": "Is Bot Command?"
      },
      {
        "parameters": {
          "aiAgentStarterCallout": "",
          "promptType": "define",
          "text": "={{ $json.messageText || \"\" }}",
          "hasOutputParser": false,
          "needsFallback": false,
          "options": {
            "systemMessage": "Eres un generador experto de prompts para imagen. Responde siempre con un unico prompt final, completo y listo para usar. No agregues saludos, explicaciones, listas, titulos, markdown, ni prefijos como \"Prompt:\". Devuelve solo el texto del prompt en una sola respuesta."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          672,
          160
        ],
        "id": "da5bb958-c8cc-4155-8fab-075020c4896c",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "notice": "",
          "model": "=llama-3.1-8b-instant",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [
          544,
          368
        ],
        "id": "02a18caf-8238-442b-af48-8f1285e194dd",
        "name": "Groq Chat Model",
        "credentials": {
          "groqApi": {
            "id": "ujxI8q61jPeRlWaT",
            "name": "Groq account"
          }
        }
      },
      {
        "parameters": {
          "preBuiltAgentsCalloutHttpRequest": "",
          "curlImport": "",
          "method": "POST",
          "url": "https://api.telegram.org/bot8330436500:AAFn_2kMLSjqR-V_zQg2BacWRWx7ULOiNuw/sendMessage",
          "authentication": "none",
          "provideSslCertificates": false,
          "sendQuery": false,
          "sendHeaders": false,
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={\"chat_id\": {{ $json.chatId || $(\"Process Telegram Message\").item.json.chatId }}, \"text\": {{ JSON.stringify($json.replyText || $json.output || \"Sin respuesta\") }}}",
          "options": {},
          "infoMessage": ""
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1408,
          160
        ],
        "id": "d0c7692d-822c-4365-8dd1-d96c74bfd22d",
        "name": "Send Telegram Reply"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://n8n-dev.noyecode.com/webhook/bot-job-enqueue",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ action: $json.action, payload: $json.payload, source: $json.source, chatId: $json.chatId, secret: $env.N8N_BOT_SECRET || '' }) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          688,
          -160
        ],
        "id": "b1d1201c-2f92-4dd0-bb4c-001010101003",
        "name": "Enqueue Bot Job"
      },
      {
        "parameters": {
          "jsCode": "const base = $('Process Telegram Message').item.json;\nconst idea = base.payload?.idea ? `\\nIdea: ${base.payload.idea}` : '';\nreturn [{ json: { replyText: `Listo. Solicitud recibida. El worker local la tomara en breve.${idea}`, chatId: base.chatId } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1040,
          -160
        ],
        "id": "b1d1201c-2f92-4dd0-bb4c-001010101004",
        "name": "Build Queue Reply"
      }
    ],
    "connections": {
      "Telegram Webhook": {
        "main": [
          [
            {
              "node": "Process Telegram Message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process Telegram Message": {
        "main": [
          [
            {
              "node": "Is Bot Command?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Bot Command?": {
        "main": [
          [
            {
              "node": "Build Queue Reply",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enqueue Bot Job": {
        "main": [
          [
            {
              "node": "Build Queue Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Queue Reply": {
        "main": [
          [
            {
              "node": "Send Telegram Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Groq Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Send Telegram Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Anderson Barbosa",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-09T13:54:13.814Z",
        "id": 509,
        "workflowId": "5zKqthFIw2-FhYBIkCKnu",
        "versionId": "0f851856-0870-4ff0-b916-876419c8ef10",
        "event": "activated",
        "userId": "6e404d63-0747-43e9-ac7f-cf0e72e9cb99"
      }
    ]
  },
  "scopes": [
    "workflow:create",
    "workflow:delete",
    "workflow:execute",
    "workflow:execute-chat",
    "workflow:list",
    "workflow:move",
    "workflow:publish",
    "workflow:read",
    "workflow:share",
    "workflow:update"
  ],
  "checksum": "b93109373ebf4951bc66a6abecda16238b5c0188575eb94aac151ffa8e29c85d"
}
