n8n/en_uso/PY_POST_TEXT_FB.json
{
  "updatedAt": "2026-03-07T04:53:23.35Z",
  "createdAt": "2026-03-07T04:27:31.105Z",
  "id": "TNWfqglULsml7iPu",
  "name": "PY_POST_TEXT_FB",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "py-post-fb-text",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -560,
        0
      ],
      "id": "b7bfdc04-605b-41eb-abe0-b71c107d6e1b",
      "name": "Python Post Text Webhook",
      "webhookId": "py-post-fb-text"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body?.prompt_text || $json.body?.prompt || $json.body?.text || \"\" }}",
        "options": {
          "systemMessage": "Eres el copywriter senior de NoyeCode para publicaciones de Facebook. Recibes un prompt visual y debes devolver un caption FINAL, comercial y listo para publicar.\n\nDatos fijos de la empresa:\n- Marca: NoyeCode\n- Sitio web: noyecode.com\n- WhatsApp: +57 301 385 9952\n- Ubicacion: Bogota, Colombia\n\nServicios posibles:\n- desarrollo a la medida\n- automatizaciones empresariales\n- modernizacion de software legacy\n- RPAs nativos\n- desarrollo Android\n- desarrollo desktop\n\nReglas duras:\n- Devuelve solo el caption final.\n- No expliques nada.\n- No describas la imagen ni la escena.\n- No menciones frases como imagen, se ve, en la pantalla, personas sentadas, fondo, composicion o texto dentro de la imagen.\n- No uses markdown, asteriscos, corchetes, comillas ni listas.\n- No inventes precios, descuentos ni promociones falsas.\n- Usa siempre noyecode.com y +57 301 385 9952.\n- Mantener entre 45 y 90 palabras.\n- Debe sonar comercial, claro, profesional y orientado a conversion.\n- Si el prompt habla de un servicio concreto, ese servicio debe dominar el caption.\n\nFormato obligatorio:\nLinea 1: servicio principal + beneficio comercial corto.\nLinea 2: una o dos frases de valor para negocio.\nLinea 3: CTA con WhatsApp y sitio web.\nLinea 4: entre 3 y 5 hashtags, siempre incluyendo #NoyeCode.\n\nProhibido devolver descripcion visual o instrucciones para generar imagen."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -224,
        0
      ],
      "id": "39f9945d-0f7a-4bb0-ae3e-7bb74b9ff0ab",
      "name": "AI Agent Copy"
    },
    {
      "parameters": {
        "model": "=llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -224,
        240
      ],
      "id": "6987f946-4f4f-4081-af4a-459c09f9b5f7",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "ujxI8q61jPeRlWaT",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        128,
        0
      ],
      "id": "4615086c-d86f-49e8-a2bb-2cdd6abfb080",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Python Post Text Webhook": {
      "main": [
        [
          {
            "node": "AI Agent Copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Copy",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Copy": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "c20ffde9-796e-4d68-95df-764cfca71350",
  "activeVersionId": "c20ffde9-796e-4d68-95df-764cfca71350",
  "versionCounter": 7,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-07T04:27:31.105Z",
      "createdAt": "2026-03-07T04:27:31.105Z",
      "role": "workflow:owner",
      "workflowId": "TNWfqglULsml7iPu",
      "projectId": "bkrM241Q8UeW2zme",
      "project": {
        "updatedAt": "2025-12-16T17:56:12.161Z",
        "createdAt": "2025-12-16T17:50:13.083Z",
        "id": "bkrM241Q8UeW2zme",
        "name": "Anderson Barbosa <andersonbarbosadev@outlook.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "6e404d63-0747-43e9-ac7f-cf0e72e9cb99",
        "projectRelations": [
          {
            "updatedAt": "2025-12-16T17:50:13.083Z",
            "createdAt": "2025-12-16T17:50:13.083Z",
            "userId": "6e404d63-0747-43e9-ac7f-cf0e72e9cb99",
            "projectId": "bkrM241Q8UeW2zme",
            "user": {
              "updatedAt": "2026-03-09T11:06:31.647Z",
              "createdAt": "2025-12-16T17:50:09.786Z",
              "id": "6e404d63-0747-43e9-ac7f-cf0e72e9cb99",
              "email": "andersonbarbosadev@outlook.com",
              "firstName": "Anderson",
              "lastName": "Barbosa",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-12-31T08:56:04.592Z",
                "personalization_survey_n8n_version": "2.1.4",
                "automationGoalDevops": [
                  "monitoring-alerting",
                  "reporting",
                  "cloud-infrastructure-orchestration"
                ],
                "companySize": "<20",
                "companyType": "education",
                "role": "engineering",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "eW5SRNY5r4zfRjIqTw9eP",
                "userActivatedAt": 1772907500504,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 2,
                  "lastShownAt": 1772831871686
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-03-09",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "parentFolder": {
    "updatedAt": "2026-02-04T15:34:18.981Z",
    "createdAt": "2026-02-04T15:34:18.981Z",
    "id": "PpHvIJ31zEwJyuGb",
    "name": "BOTS-redes-noyecode.com",
    "parentFolderId": null
  },
  "activeVersion": {
    "updatedAt": "2026-03-07T04:53:27.709Z",
    "createdAt": "2026-03-07T04:53:23.355Z",
    "versionId": "c20ffde9-796e-4d68-95df-764cfca71350",
    "workflowId": "TNWfqglULsml7iPu",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "py-post-fb-text",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -560,
          0
        ],
        "id": "b7bfdc04-605b-41eb-abe0-b71c107d6e1b",
        "name": "Python Post Text Webhook",
        "webhookId": "py-post-fb-text"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.body?.prompt_text || $json.body?.prompt || $json.body?.text || \"\" }}",
          "options": {
            "systemMessage": "Eres el copywriter senior de NoyeCode para publicaciones de Facebook. Recibes un prompt visual y debes devolver un caption FINAL, comercial y listo para publicar.\n\nDatos fijos de la empresa:\n- Marca: NoyeCode\n- Sitio web: noyecode.com\n- WhatsApp: +57 301 385 9952\n- Ubicacion: Bogota, Colombia\n\nServicios posibles:\n- desarrollo a la medida\n- automatizaciones empresariales\n- modernizacion de software legacy\n- RPAs nativos\n- desarrollo Android\n- desarrollo desktop\n\nReglas duras:\n- Devuelve solo el caption final.\n- No expliques nada.\n- No describas la imagen ni la escena.\n- No menciones frases como imagen, se ve, en la pantalla, personas sentadas, fondo, composicion o texto dentro de la imagen.\n- No uses markdown, asteriscos, corchetes, comillas ni listas.\n- No inventes precios, descuentos ni promociones falsas.\n- Usa siempre noyecode.com y +57 301 385 9952.\n- Mantener entre 45 y 90 palabras.\n- Debe sonar comercial, claro, profesional y orientado a conversion.\n- Si el prompt habla de un servicio concreto, ese servicio debe dominar el caption.\n\nFormato obligatorio:\nLinea 1: servicio principal + beneficio comercial corto.\nLinea 2: una o dos frases de valor para negocio.\nLinea 3: CTA con WhatsApp y sitio web.\nLinea 4: entre 3 y 5 hashtags, siempre incluyendo #NoyeCode.\n\nProhibido devolver descripcion visual o instrucciones para generar imagen."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          -224,
          0
        ],
        "id": "39f9945d-0f7a-4bb0-ae3e-7bb74b9ff0ab",
        "name": "AI Agent Copy"
      },
      {
        "parameters": {
          "model": "=llama-3.1-8b-instant",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
        "typeVersion": 1,
        "position": [
          -224,
          240
        ],
        "id": "6987f946-4f4f-4081-af4a-459c09f9b5f7",
        "name": "Groq Chat Model",
        "credentials": {
          "groqApi": {
            "id": "ujxI8q61jPeRlWaT",
            "name": "Groq account"
          }
        }
      },
      {
        "parameters": {
          "options": {
            "responseCode": 200,
            "responseHeaders": {
              "entries": [
                {
                  "name": "Content-Type",
                  "value": "application/json"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          128,
          0
        ],
        "id": "4615086c-d86f-49e8-a2bb-2cdd6abfb080",
        "name": "Respond to Webhook"
      }
    ],
    "connections": {
      "Python Post Text Webhook": {
        "main": [
          [
            {
              "node": "AI Agent Copy",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Groq Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent Copy",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent Copy": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Anderson Barbosa",
    "name": "Version c20ffde9",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-03-07T04:53:27.697Z",
        "id": 496,
        "workflowId": "TNWfqglULsml7iPu",
        "versionId": "c20ffde9-796e-4d68-95df-764cfca71350",
        "event": "activated",
        "userId": "6e404d63-0747-43e9-ac7f-cf0e72e9cb99"
      }
    ]
  },
  "scopes": [
    "workflow:create",
    "workflow:delete",
    "workflow:execute",
    "workflow:execute-chat",
    "workflow:list",
    "workflow:move",
    "workflow:publish",
    "workflow:read",
    "workflow:share",
    "workflow:update"
  ],
  "checksum": "a170481698701c03cecdafb0a3c16e5fbb7c62f7bc954055349af921a9aafeb1"
}
